html{
    font-size: 62.5%;
    max-width: 85%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    background: rgb(238,204,174);
    background: -moz-radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(167,166,165,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(167,166,165,1) 100%);
    background: radial-gradient(circle, rgba(238,204,174,1) 0%, rgba(167,166,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeccae",endColorstr="#a7a6a5",GradientType=1);
}
.dark-mode {
    color: #fff;
    background-color: #313843;
  
    .navbar {
      background-color: #1F2022;
      border: none;
    }
  }


.main-intro {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding-left: 86px;
    .intro {
        font-size: 3.8rem;
        width: 80%;
        margin: 0 auto;
      padding-top: 20px;
      .time-link {
        font-size: 2.0rem;
      }
    }
    img {
        height: 280px;
        width: auto;
        border-radius: 5%;
    }
}
  
.main-body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    
}