.icon-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  h2 {
    font-size: 2.8rem;
    font-weight: bold;
  }

  .icon-description {
    color: red;
    margin: 10px 30px;
  }
  .awesome-icon {
    font-size: 5rem;
    width: 10%;
    margin: 40px 30px;
    p {
      font-size: 1.3rem;
    }

    .test {
      width: 20%;
    }
    .fa-npm {
      color: red;
    }
    .fa-node-js {
      color: #689e63;
    }
    .fa-html5 {
      color: #dd4a26;
    }
    .fa-github {
      color: #000000;
    }
    .fa-js {
      color: #f0db50;
      // background-color: black;
    }
    .fa-react {
      color: #61dafb;
    }
    .fa-less {
      color: #1d3f6c;
    }
    .fa-yarn {
      color: #2c8ebb;
    }
  }

  .effect:hover {
    opacity: 0.8;
  }
  .effect:active {
    transform: scale(0.9);
  }
  .effect:focus {
    outline: none;
  }
  .css3 {
    width: 36px;
    margin: 40px 30px;
    p {
      font-size: 1.3rem;
    }
  }
  .sqlite {
    width: 39px;
    margin: 40px 30px;
    p {
      font-size: 1.3rem;
      padding-top: 6px;
    }
  }
  .postman {
    width: 40px;
    margin: 43px 30px;
    img {
      margin-left: 6px;
    }
    p {
      padding-top: 7px;
      font-size: 1.3rem;
    }
  }
  .python {
    width: 40px;
    margin: 44px 30px;
    img {
      margin-left: 6px;
    }
    p {
      padding-top: 6px;
      font-size: 1.3rem;
    }
  }
  .jest {
    width: 36px;
    margin: 40px 30px;
    p {
      padding-top: 10px;
      font-size: 1.3rem;
    }
  }

  .redux {
    width: 39px;
    margin: 40px 30px;
    p {
      font-size: 1.3rem;
      padding-top: 3px;
    }
    img {
      margin-left: 3px;
    }
  }

  .axios {
    margin: 45px 30px;
    width: 73px;
    p {
      font-size: 1.3rem;
      padding-top: 15px;
    }
  }
  .expressjs {
    margin: 43px 30px;
    width: 76px;
    p {
      font-size: 1.3rem;
      padding-top: 23px;
    }
  }
}
