/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  max-width: 85%;
  margin: auto;
  font-family: 'Nunito', sans-serif;
}
.dark-mode {
  color: #fff;
  background-color: #313843;
}
.dark-mode .navbar {
  background-color: #1F2022;
  border: none;
}
.main-intro {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-left: 86px;
}
.main-intro .intro {
  font-size: 3.8rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.main-intro .intro .time-link {
  font-size: 2rem;
}
.main-intro img {
  height: 280px;
  width: auto;
}
.main-body {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.nav-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  align-items: center;
}
.nav-body .nav-initial {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 130px;
  width: 130px;
  background: #9e6868ab;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-body .nav-initial div {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 120px;
  width: 120px;
  background: #1b4a3b5e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-body p {
  font-size: 7rem;
  color: #232222;
  padding-top: 18px;
  font-weight: bold;
}
.nav-body a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
.nav-body a:hover {
  color: gray;
}
.nav-body nav {
  text-align: right;
  font-size: 2.5rem;
}
.main-footer {
  padding-top: 100px;
  width: 100%;
}
.main-footer .rights {
  font-size: 1.2rem;
  padding: 90px 0;
}
.main-footer .connections {
  display: flex;
  max-width: 80%;
  padding: 0px 100px 0 100px;
  margin: auto;
}
.main-footer .connections .icon-footer {
  margin: auto;
}
.main-footer .connections i {
  font-size: 1.9rem;
  margin-bottom: 10px;
}
.main-footer .connections a {
  margin: 0 20px ;
  font-size: 1.2rem;
}
.main-footer .connections .fa-linkedin {
  color: #0077b5;
}
.main-footer .connections .fa-twitter {
  color: #1ca1f2;
}
.main-footer .connections .fa-facebook {
  color: #3578E5;
}
.main-footer .connections .fa-github {
  color: #252a2e;
}
.project-main {
  width: 100%;
}
.project-main .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-main .projects .project-card {
  border: 2px solid black;
  max-width: 35%;
  margin: 20px 20px;
  box-shadow: 0px 0px 20px 5px #7d6d6d;
  border: none;
}
.project-main .projects .project-card h2 {
  font-size: 2.5rem;
  padding: 15px 0;
}
.project-main .projects .project-card i {
  padding: 13px 0px;
  color: black;
}
.project-main .projects .project-card i:hover {
  color: gray;
}
.img1,
.img2,
.img3 {
  max-width: 300px;
  height: 200px;
}
.click-icon {
  display: flex;
  font-size: 3rem;
  max-width: 50%;
  margin: auto;
}
.time-body {
  background-color: lightblue;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.time-body .timeline-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.time-body .timeline-container::after {
  background-color: #ec3944;
  content: '';
  left: calc(28% - 8px);
  width: 4px;
  height: 67%;
  margin: 0px 0 0 0;
}
.time-body .timeline-item {
  display: flex;
  justify-content: flex-end;
  padding: 0 60px 0 0;
  margin: 10px 20px;
  width: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.time-body .timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}
.time-body .timeline-item-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  text-align: right;
  position: relative;
  font-size: 1.8rem;
  padding-right: 12px;
}
.time-body .timeline-item-content .para-text {
  padding: 5px 0px 5px 0;
}
.time-body .timeline-item-content::after {
  content: '';
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: -7px;
  top: calc(50%);
  width: 15px;
  height: 15px;
}
.time-body .timeline-item:nth-child(odd) .timeline-item-content {
  align-items: flex-start;
  text-align: left;
  padding-left: 12px;
}
.time-body .timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.time-body .timeline-item-content .circle {
  background-color: #ec3944;
  border-radius: 50%;
  position: absolute;
  top: calc(48%);
  right: -33px;
  width: 20px;
  height: 20px;
  z-index: 100;
}
.time-body .timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -37px;
}
.context-div {
  font-size: 3rem;
  padding-top: 80px;
}
.icon-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  padding-top: 80px;
}
.icon-container h2 {
  font-size: 2.8rem;
  font-weight: bold;
}
.icon-container .icon-description {
  color: red;
  margin: 10px 30px;
}
.icon-container .awesome-icon {
  font-size: 5rem;
  width: 10%;
  margin: 40px 30px;
}
.icon-container .awesome-icon p {
  font-size: 1.3rem;
}
.icon-container .awesome-icon .test {
  width: 20%;
}
.icon-container .awesome-icon .fa-npm {
  color: red;
}
.icon-container .awesome-icon .fa-node-js {
  color: #689e63;
}
.icon-container .awesome-icon .fa-html5 {
  color: #dd4a26;
}
.icon-container .awesome-icon .fa-github {
  color: #000000;
}
.icon-container .awesome-icon .fa-js {
  color: #f0db50;
}
.icon-container .awesome-icon .fa-react {
  color: #61dafb;
}
.icon-container .awesome-icon .fa-less {
  color: #1d3f6c;
}
.icon-container .awesome-icon .fa-yarn {
  color: #2c8ebb;
}
.icon-container .css3 {
  width: 36px;
  margin: 40px 30px;
}
.icon-container .css3 p {
  font-size: 1.3rem;
}
.icon-container .sqlite {
  width: 39px;
  margin: 40px 30px;
}
.icon-container .sqlite p {
  font-size: 1.3rem;
  padding-top: 6px;
}
.icon-container .postman {
  width: 40px;
  margin: 43px 30px;
}
.icon-container .postman img {
  margin-left: 6px;
}
.icon-container .postman p {
  padding-top: 7px;
  font-size: 1.3rem;
}
.icon-container .python {
  width: 40px;
  margin: 44px 30px;
}
.icon-container .python img {
  margin-left: 6px;
}
.icon-container .python p {
  padding-top: 6px;
  font-size: 1.3rem;
}
.icon-container .jest {
  width: 36px;
  margin: 40px 30px;
}
.icon-container .jest p {
  padding-top: 10px;
  font-size: 1.3rem;
}
.icon-container .redux {
  width: 39px;
  margin: 40px 30px;
}
.icon-container .redux p {
  font-size: 1.3rem;
  padding-top: 3px;
}
.icon-container .redux img {
  margin-left: 3px;
}
.icon-container .axios {
  margin: 45px 30px;
  width: 73px;
}
.icon-container .axios p {
  font-size: 1.3rem;
  padding-top: 15px;
}
.icon-container .expressjs {
  margin: 43px 30px;
  width: 76px;
}
.icon-container .expressjs p {
  font-size: 1.3rem;
  padding-top: 23px;
}
.form-section {
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0px;
}
.form-section h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  font-size: 3rem;
}
.form-section .form-input {
  display: flex;
  flex-direction: column;
}
.form-section .form-input label {
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.form-section .form-input input {
  margin-bottom: 30px;
  height: 45px;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #2f3234;
  border-image: initial;
  border-radius: 5px;
  padding: 5px;
  background: #f7f7f7;
}
.form-section .form-input textarea {
  width: 100%;
  font-size: 1.6rem;
  background: #f7f7f7;
  border-width: 1px;
  border-style: solid;
  border-color: #2f3234;
  border-image: initial;
  padding: 5px;
  border-radius: 5px;
}
